* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-image: url(../images/backimgc.png);
  background-size: cover;
  font-family: "Copperplate" , "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif,"ヒラギノ角ゴシック",Hiragino Sans;
  font-weight: 500;
  line-height: 1;
}

a {
  text-decoration: none;
  color: aliceblue;
}
/* ----------------------------------------------メインpc----------------------------------------------- */
#main1{
  color: aliceblue;
  margin-left: 36rem;
  padding: 2rem 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 32vh;
}

h1 {
  font-size: 8rem;
}

.name {
  margin-top: 2vh;
  font-size: 4rem;
}

.aboutjob {
  margin-top: 7.5vw;
  font-size: 3rem;
  position: relative;
  left: -20vw;
}

.job {
  margin-top: 3.5vh;
  font-size: 3.7rem;
}

.joben {
  margin-top: 3.5vh;
  font-size: 2.5rem;
}
/* ----------------------------------------------/メインpc----------------------------------------------- */

/* --------------------------------------メイン２pc------------------------------------ */
#main2 {
  color: aliceblue;
  margin-left: 36rem;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 8%;
}

h2 {
  font-size: 5rem;
  margin-top: 8%;
  margin-bottom: 3%;
}

h3 {
  margin-top: 8%;
  margin-bottom: 3%;
  font-size: 5rem;
}

.skill {
  margin-top: 2vh;
  font-size: 4.5rem;
}

.months {
  margin-top: 2vh;
  font-size: 4.5rem;
}

.skillname {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.experience {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20%;
}

.experience2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 13%;
}
.skillbox {
  display: flex;
  justify-content: flex-end;
}
/* --------------------------------------/メイン２pc------------------------------------ */
/* --------------------------------------メイン３pc------------------------------------ */
#main3 {
  color: aliceblue;
  margin-left: 36rem;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 8%;
}

h4 {
  font-size: 5rem;
  margin-top: 8%;
  margin-bottom: 3%;
}
.list1 {
  margin-top: 5vh;
}

.listname1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.url1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.url1 a {
  font-size: 3rem;
  color: rgb(171, 172, 173);
  transition: all 0.3s ease 0s;
}
.url1 a:hover {
  color: aliceblue;
  transform: scale(1.2,1.2);
}

.sample1 {
  margin: 0 auto;
  display: block;
}
/* --------------------------------------/メイン３pc------------------------------------ */
/* --------------------------------------メイン４pc------------------------------------ */
#main4 {
  color: aliceblue;
  margin-left: 36rem;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 8%;
}

h5 {
  margin-top: 8%;
  margin-bottom: 3%;
  font-size: 5rem;
}

.contact {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20%;
  display: flex;
}

.contact-content {
  margin-left: 8vw;
  text-align: center;
  font-size: 3rem;
}

.contact-content p {
  margin-top: 3vh;
}

.address {
  margin-left: 10vw;
  text-align: center;
  font-size: 3rem;
}

.address p {
  margin-top: 3vh;
}

.address a {
  display: block;
  margin-top: 3vh;
  color: rgb(171, 172, 173);
  transition: all 0.3s ease 0s;
}

.address a:hover {
  color: aliceblue;
}


/* --------------------------------------/メイン４pc------------------------------------ */

/* --------------------------------------スクロール------------------------------------ */
.fullPageScroll {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* --------------------------------------/スクロール------------------------------------ */

/* --------------------------------------全ページ共通指定------------------------------------ */
.section {
  width: 100%;
  height: 100vh;
  padding: 0 5%;
  scroll-snap-align: start;
}
/* --------------------------------------/全ページ共通指定------------------------------------ */

/* --------------------------------------サイドメニュー(ページ遷移)pc------------------------------------ */
#pagination {
  box-sizing: border-box;
  top: 0px;
  height: 100%;
  width: 36rem;
  position: fixed;
  background-color: rgba(129, 129, 129, 0.6);
  display: flex;
}

.menu {
  margin: auto;
  display: grid;
  place-items: center;
}

.menu a {
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.menu a:hover {
  transform: scale(1.2,1.2);
}

.pagination a.active {
  transform: scale(1.8);
}

.li1 {
  font-size: 3rem;
}

.li2 {
  margin-top: 7vh;
}
/* --------------------------------------/サイドメニュー(ページ遷移)pc------------------------------------ */
@media only screen and (max-width:1280px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width:1024px) {

}

@media only screen and (max-width:1024px) {

}