* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-image: url(../images/backimgc.png);
  background-size: cover;
  font-family: "Copperplate" , "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif,"ヒラギノ角ゴシック",Hiragino Sans;
  font-weight: 500;
  line-height: 1;
}

a {
  text-decoration: none;
  color: aliceblue;
}

p {
  color: aliceblue;
}

#allura {
  font-family: 'Allura', cursive;
  font-weight: lighter;
  font-size: 2.3rem;
}
/* ----------------------------------------------メイン1pc----------------------------------------------- */
#main1{
  color: aliceblue;
  margin-left: 36rem;
  padding: 2rem 20rem;
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 22vh;
}

.janame {
  font-size: 8rem;
}

.name {
  margin-top: 1rem;
  font-size: 4rem;
}

.myself-date {
  margin-top: 15%;
  font-size: 3.5rem;
}

.born {
  margin-top: 6%;
}

.age1 , .born1 {
  margin-top: 1%;
}
/* メイン１pc自己紹介分 */
.self-introduction {
  width: 480px;
  height: 380px;
  background-color: rgba(129, 129, 129, 0.4);
  position: relative;
  left: 12vw;
  top: -31vh;
  opacity: 0;
  -webkit-transition: all 0.5s;
}
.title:hover ~ .self-introduction {
  opacity: 1;
}
.introduction {
  display: inline-block;
  margin: 25px;
  width: 400px;
  height: 300px;
  font-size: 2.2rem;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif,"ヒラギノ角ゴシック",Hiragino Sans;
  line-height: 1.3em;
}
/* /メイン１pc自己紹介分 */

/* ----------------------------------------------/メイン1pc----------------------------------------------- */

/* --------------------------------------メイン２pc------------------------------------ */
#main2 {
  color: aliceblue;
  margin-left: 36rem;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 8%;
}

h2 {
  font-size: 5rem;
  margin-top: 8%;
  margin-bottom: 3%;
}

h3 {
  margin-top: 8%;
  margin-bottom: 3%;
  font-size: 5rem;
}

.skill {
  margin-top: 2vh;
  font-size: 4.5rem;
}

.months {
  margin-top: 2vh;
  font-size: 4.5rem;
}

.skillname {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.experience {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20%;
}

.experience2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 13%;
}
.skillbox {
  display: flex;
  justify-content: flex-end;
}
/* --------------------------------------/メイン２pc------------------------------------ */
/* --------------------------------------メイン３pc------------------------------------ */
#main3 {
  color: aliceblue;
  margin-left: 36rem;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 8%;
}

h4 {
  font-size: 5rem;
  margin-top: 8%;
  margin-bottom: 3%;
}
.list1 {
  margin-top: 5vh;
}

.listname1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.url1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.url1 a {
  font-size: 3rem;
  color: rgb(171, 172, 173);
  transition: all 0.3s ease 0s;
}
.url1 a:hover {
  color: aliceblue;
  transform: scale(1.2,1.2);
}

.sample1 {
  margin: 0 auto;
  display: block;
}
/* --------------------------------------/メイン３pc------------------------------------ */
/* --------------------------------------メイン４pc------------------------------------ */
#main4 {
  color: aliceblue;
  margin-left: 36rem;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 8%;
}

h5 {
  margin-top: 8%;
  margin-bottom: 3%;
  font-size: 5rem;
}

.contact {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20%;
  display: flex;
}

.contact-content {
  margin-left: 8vw;
  text-align: center;
  font-size: 3rem;
}

.contact-content p {
  margin-top: 3vh;
}

.address {
  margin-left: 10vw;
  text-align: center;
  font-size: 3rem;
}

.address p {
  margin-top: 3vh;
}

.address a {
  display: block;
  margin-top: 3vh;
  color: rgb(171, 172, 173);
  transition: all 0.3s ease 0s;
}

.address a:hover {
  color: aliceblue;
}

.contact-content {
  margin-left: 1vw;
  font-size: 6rem;
}

.address {
  margin-left: 1vw;
  font-size: 6rem;
}

.contact-content p {
  margin-top: 5vh;
}

.address p {
  margin-top: 5vh;
}

.address a {
  margin-top: 5vh;
}
/* --------------------------------------/メイン４pc------------------------------------ */

/* --------------------------------------スクロール------------------------------------ */
.fullPageScroll {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* --------------------------------------/スクロール------------------------------------ */

/* --------------------------------------全ページ共通指定------------------------------------ */
.section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}
/* --------------------------------------/全ページ共通指定------------------------------------ */

/* --------------------------------------サイドメニュー(ページ遷移)pc------------------------------------ */
.menutitle {
  position: relative;
  top: -10rem;
  text-align: center;
}

#pagination {
  box-sizing: border-box;
  top: 0px;
  height: 100%;
  width: 36rem;
  position: fixed;
  background-color: rgba(129, 129, 129, 0.6);
  display: flex;
}

.menu {
  margin: 15vh auto;
  display: grid;
  place-items: center;
  text-align: center;
}

.menu a {
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.menu a:hover {
  transform: scale(1.2,1.2);
}

.pagination a.active {
  transform: scale(1.8);
}

.li1 {
  font-size: 3rem;
}

.li2 {
  margin-top: 7vh;
}

.myjob {
  position: relative;
  bottom: -10rem;
}
/* --------------------------------------/サイドメニュー(ページ遷移)pc------------------------------------ */
@media screen and (max-width:1280px) {
  html {
    font-size: 8px;
  }
}
/* --------------------------------------タブレット表示 ~1024px------------------------------------ */
@media only screen and (max-width:1024px) {
  html {
    font-size: 6px;
  }

  h1 {
    font-size: 10rem;
  }

  .name {
    font-size: 5.5rem;
  }

  .aboutjob {
    margin-top: 14vw;
    font-size: 5rem;
    left: -15vw;
  }

  .job {
    margin-top: 4.5vh;
    font-size: 5.3rem;
  }

  .joben {
    margin-top: 2vh;
    font-size: 4.4rem;
  }

  .listname1 {
    font-size: 6rem;
    margin-bottom: 7rem;
  }

  .url1 {
    font-size: 4rem;
    margin-bottom: 8rem;
  }

  .url1 a {
    font-size: 5.5rem;
  }

  .sample1 {
    width: 400px;
  }

  .self-introduction {
    top: -20rem;
    opacity: 1;
  }

  .introduction {
    font-size: 2.8rem;
  }

  /* ------------------サイドバー余白消し------------------------------------ */
  .section {
    padding: 0;
  }
  /* ------------------/サイドバー余白消し------------------------------------ */
  /* ------------------サイドバー文字大きく------------------------------------ */
  .menu a {
    font-size: 5.2rem;
  }
  /* ------------------サイドバー文字大きく------------------------------------ */
}
/* --------------------------------------/タブレット表示------------------------------------ */

@media only screen and (max-width:767px) {
  html {
    font-size: 3px;
  }

  #pagination {
    width: 28rem;
  }

  .pagination a.active {
    transform: scale(1.5);
  }

  #main1 , #main2 , #main3 , #main4 {
    margin-left: 28rem;
  }

  .sample1 {
    width: 250px;
  }
  .self-introduction {
    position: absolute;
  }
}